.mainheading {
    height: 200px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("https://cdn.theatlantic.com/assets/media/img/mt/2020/08/KarenNew/original.jpg")
}

h1 {
    font-family: 'Cookie', cursive;
    font-size: 100px;
    text-align: center;
    color: rgb(255, 251, 22);
}

.container {
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 30px;
    background: white;
    justify-content: center;
    padding: 10px
}

.choices {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

#choice1 {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    color:red;
    width: 200px;
    height: 400px;
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#choice2 {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    color: red;
    width: 200px;
    height: 400px;
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.choices {
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.container:hover {
    color: black;
    background: rgb(111, 211, 214);
    cursor: pointer;
}

/* #choice1:hover {
    color: black;
    background: pink;
}
#choice2:hover {
    color: black;
    background: pink;
} */
